* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #122a57;
  color: #fff;
}
header .list-items {
  max-width: 260px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .menu {
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: #fff;
}

.about-section {
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}
.about-content {
  min-height: 200px;
}
.about-content h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}
.about-content a {
  margin-top: 40px;
}

.btn {
  display: block;
  width: 220px;
  height: 50px;
  text-align: center;
  margin: 10px 0;
  line-height: 50px;
  border-radius: 30px;
  text-decoration: none;
  background: #122a57;
  color: #fff;
}

#quem-somos {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 72px;
}
#quem-somos h2 {
  font-size: 32px;
  color: #122a57;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#quem-somos h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background: #122a57;
  position: relative;
}
#quem-somos p {
  margin-bottom: 10px;
  width: 90%;
}
#quem-somos img {
  min-width: 420px;
}

.outside-container {
  background: #122a57;
  width: 100%;
}

#services {
  flex-direction: column;
  padding: 100px 0;
}
#services h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.list-services {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.list-services .item-services {
  text-align: center;
}
.item-services a {
  width: 220px;
  background: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 5px 10px;
  color: #122a57;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}
.item-services p {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}
.item-services img {
  width: 80%;
  margin: auto;
}

#plans {
  flex-direction: column;
  padding: 100px 0;
}
#plans h2 {
  font-size: 32px;
  text-align: center;
  color: #122a57;
}

.list-plans {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 50px;
}

.item-plan {
  max-width: 250px;
  flex: 1;
  border: 5px solid #122a57;
  margin-right: 20px;
  padding: 10px;
}
.item-plan .btn {
  margin: auto;
  margin-bottom: 20px;
}
.item-plan h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.item-plan h3::after {
  content: "";
  background: #122a57;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.item-plan ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.item-plan ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.item-plan ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #122a57;
  margin-right: 5px;
}

footer {
  background: #122a57;
  height: 70px;
  display: flex;
  align-items: center;
}
footer .footer {
  justify-content: space-between;
  color: #fff;
}

/* mobile */
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
    padding: 0 16px;
  }

  header .list-items {
    margin-top: 12px;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
  }
  .list-items li a {
    color: #122a57;
    font-weight: bold;
  }

  .about-section {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  .about-content h1 {
    text-align: center;
  }
  .about-section .about-content {
    width: 100%;
  }

  #quem-somos {
    flex-direction: column-reverse;
  }
  #quem-somos p {
    text-align: justify;
    line-height: 24px;
  }
  #quem-somos img {
    min-width: 320px;
    margin: auto;
  }

  .list-services {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .item-services img {
    width: 50%;
    margin: auto;
  }

  .list-plans {
    flex-direction: column;
    align-items: flex-start;
  }
  .list-plans .item-plan {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  footer .footer {
    align-items: center;
    gap: 8px;
  }
}
